- 교재 362p
### 회귀 실습 - 자전거 대여 수요 예측
https://www.kaggle.com/competitions/bike-sharing-demand/overview/description

In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

In [6]:
df = pd.read_csv('bike.csv')
df.head(2)

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,3,13,16
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,8,32,40

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10886 entries, 0 to 10885
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   datetime    10886 non-null  object
 1   season      10886 non-null  int64
 2   holiday     10886 non-null  int64
 3   workingday  10886 non-null  int64
 4   weather     10886 non-null  int64
 5   temp        10886 non-null  float64
 6   atemp       10886 non-null  float64
 7   humidity    10886 non-null  int64
 8   windspeed   10886 non-null  float64
 9   casual      10886 non-null  int64
 10  registered  10886 non-null  int64
 11  count       10886 non-null  int64
dtypes: float64(3), int64(8), object(1)
memory usage: 1020.7+ KB

In [10]:
#object형 -> 날짜형
df['datetime'] = df.datetime.apply(pd.to_datetime) #apply()=함수적용 , dtype: datetime64[ns] = 데이터 타입 날짜형으로 바뀜

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10886 entries, 0 to 10885
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   datetime    10886 non-null  datetime64[ns]
 1   season      10886 non-null  int64
 2   holiday     10886 non-null  int64
 3   workingday  10886 non-null  int64
 4   weather     10886 non-null  int64
 5   temp        10886 non-null  float64
 6   atemp       10886 non-null  float64
 7   humidity    10886 non-null  int64
 8   windspeed   10886 non-null  float64
 9   casual      10886 non-null  int64
 10  registered  10886 non-null  int64
 11  count       10886 non-null  int64
dtypes: datetime64[ns](1), float64(3), int64(8)
memory usage: 1020.7 KB

In [16]:
df['year'] = df.datetime.apply(lambda x:x.year) #연도 추출
df['month'] = df.datetime.apply(lambda x:x.month) 
df['day'] = df.datetime.apply(lambda x:x.day) 
df['hour'] = df.datetime.apply(lambda x:x.hour)

In [17]:
df.head(2)

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count,year,month,day,hour
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,3,13,16,2011,1,1,0
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,8,32,40,2011,1,1,1

In [18]:
#count값 예상하고 자 하는 값, 회원 + 비회원 = count, 예측하고 자 하는 값이 독립변수안에 들어가 있음
df.drop(columns=['datetime','casual','registered'],inplace=True)

오버플로, 언더플로 오류가 발생하기 쉽다

- 교재368p
log1p = 1+log()
원래값으로 복원이 된다. 
log1p처리 된 데이터는 expm1()함수사용하면 원래값으로 복원된다.

### 로그 변환, 피처 인코드이과 모델 학습/예측/평가
- 교재 369p
회귀는 정규분포 형태인지 확인하는 것이 중요하다
결과(target)값의 분포를 확인하는 것이 중요하다. -> 히스토그램
정규분포로 변환  log1p()로 정규분포 형태로 전환. 그 중 효과가 좋은 것이 log1p()다
개별 피처 인코딩 (원핫인코딩, 레이블인코딩)
회귀계수가 크다는 것은 영향력이 크다. 숫자커서 회귀계수가 크다. -> 원핫인코딩 이용
원핫인코딩 후 평가 수행하고 결과값 확인, minmax도 사용가능

- 정리
회귀는 타켓값의 분포가 중요하다.
숫자값의 크기에 따라 영향을 받기 때문에 레이블 인코딩이 필요하다.